<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.beta.android.aakashresearchlabs.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WebLearn"
        android:supportsRtl="true"
        android:theme="@style/ChapterTheme">
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:label="WebLearn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessonActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/itemMenu" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonOneActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonTwoActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonThreeActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonFourActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonFiveActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonSixActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity
            android:name="org.beta.android.aakashresearchlabs.test.lessons.LessonSevenActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson1.L1C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson3.L3C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson5.L5C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson6.L6C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson7.L7C1" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson1.L1C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson1.L1C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson1.L1C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson1.L1C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson1.L1C6" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C6" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C7" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C8" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson3.L3C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson3.L3C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson3.L3C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson3.L3C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson2.L2C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C6" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson4.L4C7" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson5.L5C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson5.L5C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson5.L5C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson5.L5C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson6.L6C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson6.L6C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson6.L6C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson6.L6C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson6.L6C6" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson7.L7C2" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson7.L7C3" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson7.L7C4" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson7.L7C5" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.Lesson7.L7C6" />
        <activity android:name="org.beta.android.aakashresearchlabs.test.CommonTestActivity"
            android:parentActivityName="org.beta.android.aakashresearchlabs.test.MainActivity"
            android:theme="@style/ChapterTheme"></activity>
    </application>

</manifest>